
XXNibBridgeDemo.xcworkspace/xcuserdata/sunnyxx.xcuserdatad/UserInterfaceState.xcuserstate

XXNibBridge.xcworkspace/xcuserdata/sunnyxx.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
.DS_Store
 *.xcuserdatad/
*/xcshareddata/
*xcuserdatad/
